<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB55ZYzblc_CU6va06eugPBLd73l7OhjQc</string>
	<key>GCM_SENDER_ID</key>
	<string>290396658751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminPanelFlutter</string>
	<key>PROJECT_ID</key>
	<string>admin-panel-c169e</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-panel-c169e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290396658751:ios:587706a4781402dbad2c8a</string>
</dict>
</plist>